include LICENSE
include CHANGELOG.rst
include README.rst
include MANIFEST.in
include tox.ini
include setup.py

graft docs
prune docs/build
graft tests

global-exclude __pycache__
global-exclude *.pyc
